*{
    padding: 0%;
       text-align: center;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
body{
    background-color: skyblue;
  
}
#guessfield{
    width: 10%;
    height: 30px;
    border-radius: 30px;
    
    
}
#sbmt{
    width: 6%;
    height: 30px;
    border-radius: 40px;
}
#guess{
    font-size: 30px;
   
}