/* keyboard.css */

body {
    font-family: Arial, sans-serif;
    background-color: skyblue;
    margin: 0;
    padding: 0;
  }
  
  .project {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #insert {
    background-color: #b41384;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .key {
    font-size: 24px;
    padding: 20px;
    border: 1px solid #333;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  

  